# Arquivos compilados (Bytecodes)
*.class

# Pacotes e executáveis gerados
*.jar
*.war
*.ear
build/
dist/

# Configurações locais e privadas da IDE
**/nbproject/private/
nbbuild/
nbdist/
.mtj.tmp/

# Arquivos de log e sistema
*.log
.DS_Store
Thumbs.db
